body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-y: hidden;

    font-family: "Bitcount Prop Single Ink", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.info_bar {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#canvas {
    border: 1px solid black;
}